<ion-content class="ion-padding">
  <ion-img class="center" style="width: 80%;height: 30%;margin-top: 15%;" src="https://cdn-icons-png.flaticon.com/512/1000/1000946.png"></ion-img>
  <ion-text class="ion-text-center" color="medium">
    <p><b>Iniciar Sesión</b></p>
  </ion-text>
  <form [formGroup]="credentialsForm" (ngSubmit)="login()" (ionInput.enter)="login()">
    <ion-item class="center">
      <ion-label color="Shade" position="floating">Usuario</ion-label>
      <ion-input formControlName="identificacion"></ion-input>
    </ion-item>
    <ion-item class="center">
      <ion-label color="Shade" position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button class="center" expand="block" type="submit" [disabled]="!credentialsForm.valid">
      Iniciar Sesión<ion-icon name="enter-outline"></ion-icon>
    </ion-button>
    <ion-button color="warning" class="center" expand="block">
      Ingresar con numero de reserva<ion-icon name="enter-outline"></ion-icon>
    </ion-button>

    <ion-button color="danger" class="center" (click)="delete()" expand="block">
      Limpiar BD<ion-icon name="enter-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>